venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/

.env

uploads/
data/raw/
data/processed/
data/annotations/

models/*.task

.vscode/
.idea/
*.swp
*.swo

notebooks/.ipynb_checkpoints/

.DS_Store
Thumbs.db
